body {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
#title {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -2%;
}
#top {
    background-color: rgb(25, 57, 148);
    height: 100px;
    width: 100vw;
}
#chat {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 5%;
    top: 15%;
}
#chat_box {
    height: 550px;
    width: 300px;
    border: 2px solid black;
    border-radius: 8px;
}
#chat_keyboard {
    background-color: antiquewhite;
    width: 300px;
    height: 75px;
    border-radius: 8px;
    position: absolute;
    top: 86.8%;
}
#enter {
    position: absolute;
    z-index: 999;
}
#message {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    top: 93%;
    z-index: 999;
}
#chat_container {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    left: 10%;
    bottom: 100px;
    width: 300px;
    gap: 10px;
    max-height: 60vh;
    overflow-y: auto;
}
#enter_message {
    border-radius: 8px;
}
#username {
    border: 2px solid black;
    border-radius: 8px;
    height: 25px;
    background-color: red;
}
#username_div {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    top: 25%;
    left: 75%;
    transform: translate(-75%);
}
